body {
  font-family: 'Roboto';
}

.header{
  background-color: #BF4342;
  height:100vh;
  color: white;
}

.hero {
  z-index: 0;
  text-align: center;
  margin-top:180px;
  font-size: 55px;
 /* make things invisible upon start */
	animation:fadeIn 4s ease-in 1;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    transform:translateY(80px);
    opacity: 0;
  }

  30% {
     opacity: 1;

  }

  40% {
    transform:translateY(10px);
  }

  50% {
    transform:translateY(10px);
  }

  60% {
    transform:translateY(10px);
  }

  100% {
    transform:translateY(-50px)
  }
}

.square {
  border: white 2px solid;
  width:100px;
  height: 60px;
  margin-left:19.5vw;
  z-index: 1;
  background: white;
  animation: enlarge 2s ease 1s forwards normal;
}

@media (max-width:992px) {
  .square {
    margin-left:25vw;
  }
}

@media (max-width: 768px) {
  .square {
    margin-left: 40vw;
  }
}


@media (max-width: 400px) {
  .square {
    margin-left: 30vw;
  }
}

@keyframes enlarge {
  0% {
    height: 60px;
  }

  50%, 100%{
    height: 3px;
    transform:scaleX(1)
  }

  100% {
    transform:scaleX(3)
  }
}

.second{
  text-align: center;
  opacity: 0;
  animation: showoff 2s ease 3s forwards;
  font-size: 55px;
}

@keyframes showoff {
  0% {
    opacity: 0;
    transform: translateY(0px)
  }

  50% {
    opacity: 0;

  }

  60% {
    opacity: 0.6;

  }

  70% {
    opacity: 0.7;

  }

  80% {
     opacity: 0.8;
  }

  90% {
     opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: translateY(-80px)

  }
}

span {
    color: white;
    animation: flicker 2s ease 3s infinite;
}

@keyframes flicker {
  0% {
    color: #2BDDBA;
  }

  5% {
    color: #B77E80;
  }

  10% {
    color: #F4D35E;
  }

  20% {
    color: #EE2933;

  }

  30% {
    color: #0D3B66;

  }

  40% {
    color: #5CDAE6;

  }

  50% {
    color: #FAF0CA;

  }

  60% {
    color: #17BEBB;

  }

  70% {
    color: #2E282A;

  }

  80% {
    color: #9F8082;

  }

  90% {
    color: #AEEDCB;

  }

  100% {
    color: #C9CBA3;

  }
}

.wrap {
  /*width: 100%;*/
  text-align :center;
  /*margin-left: 11vw;*/
  opacity: 0;
  animation: enter 1s ease 5s forwards;
  font-size: 27px;
}

@media (min-width: 300px) {
  .wrap {
    margin-left: 23%;
  }
}

@media (min-width: 470px) {
  .wrap {
    margin-left: 30%;
  }
}

@media (min-width: 768px) {
  .wrap {
    margin-left: 35%;
  }
}

@media (min-width: 992px) {
  .wrap {
    margin-left: 18%;
  }
}

@keyframes enter{
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.title{
  float:left;
  /*margin: 5px 10px 20px 0;*/
}

.title2{
  float: left;
  padding-left: 0.5vw;
  /*margin: 5px 10px;*/
}

@media (min-width: 992px){
  .titlewrap {
    width: 28% !important;
  }
}



.circle {
	width: 50px;
  float:left;
	height: 50px;
  margin-left: 0;
	background: transparent;
	border-radius: 60px;
  border: 5px solid;
  border-left: 5px solid #0D3B66;
  border-right: 5px solid #0D3B66;
  animation: spin 1s ease 3s infinite;
}

@media (max-width: 400px) {
  .circle {
    margin-left: 26%;
  }
}

@media (min-width: 401px) {
  .circle {
    margin-left: 15%;
  }
}


@media (min-width: 768px) {
  .circle {
    margin-left: 8%;
  }
}

@media (min-width:992px) {
  .circle {
    margin-left: 0;
  }
}


@keyframes spin {
  0% {
    transform: rotateZ(360deg)
  }

  100% {
    transform:rotateZ(180deg)
  }
}

/* ^^ Hero ^^ */

.main {
  text-align: center;
  margin-top: 5%;
}

.skill {
  margin-top: 5%;
  text-align: center;
  background-color: #E0DFD5;
  padding-bottom: 8%;
}

#skill_svg {
  margin-top: 8%;
}

.item-list {
  list-style: none;
  margin-top: 30px;
}

li {
  float: left;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

li:hover{
  cursor: pointer;
  border: 1px solid white
}

.project {
  height:150px;
  background: #2A3D45;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 25px;
  margin: 20px;
}

.tag {
  background: #2A3D45;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: white;
  padding: 2px 2px;
  text-align: center;
}

.description {
  margin: 15px 0;
}

.links {
  margin-top: 5%;
  background: #E8E9EB;
  padding: 90px 0;
  font-weight: 300;
  text-align: center;
  font-size: 17px;
}

.footer {
  background-color: #2A3D45;
  color: white !important;
  padding: 100px 0;
  text-align: center;
}

.link-button {
  padding: 6px 20px;
  background-color: #E0DFD5;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #E0DFD5;
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.mail {
  font-size: 30px;
  color: #E0DFD5;
  text-decoration: none;
}

.mail:hover {
    color: #E0DFD5;
    text-decoration: none;
}
